<%- include ('../header') %>
<header>
    <h1>Petrolina Party</h1>
    <h4>Lista de Contatos</h4>
</header>
<section>
  <form action="/contato" method="POST">
    <input type="text" name="contato[nome]" placeholder="Nome">
    <input type="text" name="contato[email]" placeholder="E-mail">
    <button type="submit">Cadastrar</button>

  </form>
  <table>
      <thead>
      <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Ação</th>
      </tr>
      </thead> 
      <tbody>
          <% contatos.forEach((contato, index) =>{%>
          <tr>
              <td><%- contato.nome %> </td>
              <td><%- contato.email %> </td>
              <td>
                  <a href="/contato/<%- index %> ">Detalhes</a>                 
              </td>
          </tr>
        <% }) %>   
      </tbody>
  </table>
</section>
<%- include ('../exit')%>
<%- include ('../footer') %>