<%- include ('../header')  %>
<style>
    body{
                font-size: 16px;
                font-family: Roboto;
                color: rgb(32, 32, 32);
                margin: 10px;
                background-color: rgb(230, 230, 230);
            }
            header{
                position: absolute;
                top: 20%;
                left: 40%;
                text-align: center;
            }
            tbody{
              
            }
            section>form{
                position: absolute;
                top: 50%;
                left: 35%;
                text-align: justify;
            }
            form>input{
            margin: 10x;
               
            }
            form>button{
            margin: 10px; 
            }
            table{
                margin-top: 500px;
            }
            footer{
                position: absolute;
                top:80%;
                left: 42%;
                text-align: center;
            }
</style> 
<header>
    <h2>Dados do contato</h2>
</header>
<section>
    <form action="/contato/<%- id %>?_method=delete" method="POST">
        <p><label>Nome:</label><%- contato.nome %> </p>
        <p><label>E-mail:</label><%- contato.email %></p>
        <p>
            <button type="submit">Excluir</button>
            <a href="/contato/<%- id %>/editar">Editar</a>
        </p>
    </form>
</section>
<%- include ('../exit')%>
<%- include ('../footer') %>